<div class="homepage-index">
  <h2>Welcome to Trunk</h2>

  <p>
    Thanks for installing and trying out Trunk!
  </p>

  <p>
    Trunk is a simple, self-hosted notes app for storing and managing your
    notes. You'll like Trunk if you value privacy and simplicity
    over feature creep and monthly payments.
  </p>
  
  <hr>
  
  <p>
    By default, signing up for accounts is disabled. If you don't have an
    account yet,
    <%= link_to "follow the instructions here",
      "https://github.com/timdavies/trunk#enabling-registrations"
    %>.
  </p>
</div>
