<% if current_user.notes.deleted.any? %>
  <div class="note-settings">
    <h1>Archived Notes</h1>

    <ul>
      <li class="note-archive-list-header">
        <div class="note-title">&nbsp;</div>
        <div class="note-archived-at">
          Archived at
        </div>
        <div class="note-actions">&nbsp;</div>
      </li>

      <% current_user.notes.deleted.each do |note| %>
        <li>
          <div class="note-title">
            <%= note.title %>
          </div>

          <div class="note-archived-at">
            <%= l note.deleted_at, format: :full %>
          </div>

          <div class="note-actions">
            <%= link_to "Restore", restore_notes_path(note.id), method: :post %>
            <%= link_to "Delete", note_path(note.id), method: :delete,
              data: { confirm: "This action cannot be undone. Are you sure you wish to delete this note?" }
            %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="note-settings note-archive-empty">
    <div>No archived notes</div>
  </div>
<% end %>
