<div class="contact-field">
  <div class="contact-field-key">
    <input type="text" value="{{key}}">
  </div>

  <div class="contact-field-value">
    <input type="text" value="{{value}}">
  </div>

  <a href="#" class="contact-button contact-button-remove fa fa-minus-circle"></a>
</div>
