<% if flash.present? and flash.any? %>
  <div class="flash">
    <% flash.each do |key, message| %>
      <div class="flash-message flash-message-<%= key %>">
        <%= raw message %>
      </div>
    <% end %>
  </div>
<% end %>
